<div style="text-align: center;">
  <h1>
    Sistem Informasi UAD
    </h1>
    <img width="100px" alt="uad" src="assets/uad.png" />
  </div>
   <ul>
     <li>
       <a href="" [routerLink]="['/home']" routerLinkActive="router-link-active"
       >Home</a
       >
      </li>
     <li><a href="" [routerLink]="['/student']" routerLinkActive="router-link-active"
      >Student</a
      >
    </li>
    <li><a href="" [routerLink]="['/teacher']" routerLinkActive="router-link-active"
      >Teacher</a
      >
    </li>
   </ul>
   <router-outlet></router-outlet>